body {
  font-family: 'Share Tech Mono', monospace;
  padding-bottom: 200px;
}
nav {
  background-color: #414141;
  height: 80px;
  line-height: 78px;
}

#introSection {
  height: 600px;
  width: 100%;
}

#test {
  color: #fff;
  font-size: 140px;
}
#parall {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 100%;
}

#instructionModal {
  background-color: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
}


#instructionModalFooter {
  background-color: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
}

.btn-large {
  border-radius: 100px;
  color: #fff;
  background-color: #056571;
}


#icons {
  line-height: inherit;
}
