body {
  font-family: 'Space Mono', monospace;
  padding-bottom: 200px;
  font-weight: 400;
}
nav {
  background-color: #414141;
  height: 80px;
  line-height: 78px;
}

.parallax-container {
      height: 1010px;
    }



#test {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 140px;
}
#parall {
    background-color: rgba(0, 0, 0, 0.5);
    height: 1010px;
    width: 100%;
}

#introCard {
  color: #fff;
  font-size: 30px;
  background-color: transparent;
}

#instructionModal {
  background-color: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
}


#instructionModalFooter {
  background-color: rgba(0, 0, 0, 0.9);
  color: #eeeeee;
}

.btn-large {
  border-radius: 6px;
  color: #fff;
  background-color: #056571;
}


#icons {
  line-height: inherit;
}
